<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@rental.cost) %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
